.note,
.warning,
.info {
	border-radius: 6px;

	padding: 10px 10px 10px 40px;

	margin: 10px 0;
}

.note:before,
.warning:before,
.info:before {
	display: block;
	float: left;
	margin-left: -30px;
	margin-top: 2px;

	font-family: FontAwesome;

	width: 20px;
	height: 18px;

	font-size: 18px;

	text-align: center;
}

.note {
	background: #e6ab0c;
	color: white;
}

.note:before {
	content: "\f071";
}

.warning {
	color: white;
	background: #D8000C;
}

.warning:before {
	content: "\f06a";
}

.info {
	color: white;
	background: #00529B;
}

.info:before {
	content: "\f05a";
}
