<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="lead">{{ site.slogan }}</p>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item{% if page.path == "index.md" %} active{% endif %}">
        <a href="/">Home</a>
      </li>

      <!-- Examples -->
      <li class="sidebar-nav-item{% if page.path == "examples/index.md" %} active{% endif %}">
        <a href="/examples/">Examples</a>
        <ul>
          {% assign sorted_pages = site.pages | sort:"name" %}
          {% for node in sorted_pages %}
            {% if node.categories contains "examples" %}
              <li class="sidebar-nav-item{% if page.path == node.path %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.menu-title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <!-- Documentation -->
      <li class="sidebar-nav-item{% if page.path == "docs/index.md" %} active{% endif %}">
        <a href="/docs/">Documentation</a>
        <ul>
          {% assign sorted_pages = site.pages | sort:"name" %}
          {% for node in sorted_pages %}
            {% if node.categories contains "docs" %}
              <li class="sidebar-nav-item{% if page.path == node.path %} active{% endif %}">
                <a href="{{ node.url }}">{{ node.menu-title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <li class="sidebar-nav-item"><a href="/api/master/">API Reference</a></li>

      <li class="sidebar-nav-item"><a href="{{ site.github.repo }}">GitHub project</a></li>

      <li class="sidebar-nav-item{% if page.path == "support.html" %} active{% endif %}">
        <a href="/support/">Support</a>
      </li>
    </ul>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
